<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date and time</title>
</head>
<body style="background-color:aqua">
    <h1>the date and time is:</h1>
    <h1>{{m}}</h1>
    <h1>{{date}}</h1>
    <marquee style="color:chocolate" behavior="alternate" direction="right"><h1>hii i am aditya panigrahi</h1></marquee>
    <table border="1px" align="center">
        <tr style="font-size: 50px;">
        <th>name</th>
        <th>age</th>
        <th>salary</th>
    </tr>
<tr>
<td>aditya</td>
<td>23</td>
<td>5000</td>
</tr>
<tr>
    <td>suraj</td>
    <td>23</td>
    <td>5000</td>
</tr></table>
<ol><li>aditya</li>
<li>suraj</li>
<li>omkar</li>
<li>prassna</li></ol>
<ul><li>aditya</li>
    <li>suraj</li>
    <li>omkar</li>
    <li>prassna</li></ul>
    
</body>
</html>