<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUTTON</title>
    <style>
     body{
        /* text-align: center; */
        align-items: center ;
     }
     .b{
        background-color: aquamarine;
        padding-top: 50px;
        padding-left: 100px;
        padding-bottom: 300px;
        padding-right: 100px;
        margin: 50px;
        border: 50px solid blue;
        text-align:left; 
     }   
    </style>
</head>
<body>
<div class="b">
    <form>
    <label for="login">login:</label>
    <a href="b.html"><button onclick="b.html">login</button></a>
    <label for="signup">signup:</label>
    <button>signup</button>
    <label for="register">register: </label>
    <button>register</button>
</form>
</div>
    
</body>
</html>