{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static "images/a.css" %}">
</head>
<body>
   
    <h1>The image is:</h1>
    <h1>{{date}}</h1>
    <img src="{%static "images/pythonimg.jpeg" %}" alt="no image">
    <h3><marquee behavior="alternate" direction="right">i am aditya panigrahi studing in itvedant as fullstack developer course and now our django course is going on.</marquee>  </h3>
<table border="">
<tr>
    <th>name</th>
    <th>age</th>
    <th>salary</th>

</tr>
<tr>
    <td>aditya</td>
    <td>23</td>
    <td>20000</td>
</tr>
<tr>
    <td>asutosh</td>
    <td>24</td>
    <td>25000</td>
</tr>

</table> 
</body>
</html>