<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <label for="User Name">User Name:</label>
    <input type="text" id="User Name" name="User Name"><br><br>
    <label for="password">password:</label>
    <input type="text" id="password" name="password"><br><br>
    <a href="/home"><button>submit</button></a>
    <a href="/register"><button>register</button></a>
    <a href="/add"><button>add</button></a>
</body>
</html>