<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
</head>
<body>
    <form action="">
    <label for="first Name">first Name:</label>
    <input type="text" id="first Name" name="first Name"><br><br>
    <label for="last name">last name</label>
    <input type="text" id="last name" name="last name"><br><br>
    <label for="date">dob:</label>
    <input type="date"><br><br>
    address: <br>
    <textarea  col="80" row="5">address</textarea><br><br>
    <label for="age">age:</label>
    <input type="text" id="age" name="age"><br><br>
    
</form><br>
<a href="/add"><button>add</button></a>
</body>
</html>