<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <table>
    <h1>Welcome to login page</h1><br><br>
    <label for="First Name">First Name:</label>
    <input type="text" id="First name" name="First Name" placeholder="Enter first name"><br>
    <label for="Middle name">middle name:</label>
    <input type="text" id="Middle name" name="Middle name" placeholder="Enter middle name"><br>
    <label for="Last name"> Last name:</label>
    <input type="text" id="Last name" name="Last name" placeholder="Enter last name"><br>
    <label>course:</label>
    <select>
        <option value="Course">Course</option>
        <option value="Bsc">BSc</option>
        <option value="Msc"> Msc</option>
        <option value="BBA">BBA</option>
        <option value="MBA">MBA</option>
        <option value="Btech">Btech</option>
        <option value="Mtech">Mtech</option>
        <option value="Others">Others</option>
    </select>

    <br><br>
    <label> Gender:</label>
    <input type="radio" name="male"/>male <br>
    <input type="radio" name="female"/>female <br>
    <input type="radio" name="others"/>others <br>

    <label>phone no.:</label><br>
    <input type="text" name="country code" value="+91" size="2">
    <input type="text" name="number" size="10">
    <br><br>
    address: <br>
    <textarea cols="80" rows="5" value="address"></textarea>

    <div><button type="submit" onclick="solve()" action="/click">submit</button>
    </div>
</table>
    
</body>
</html>