<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="btn-group">
        <!-- in href we have to give the reffernce url, which we gave in project/app url -->
        <a href="/login" class="btn btn-primary active" aria-current="page">LOGIN</a><br>
        <a href="/register" class="btn btn-primary">REGISTER</a><br>
        <a href="/click" class="btn btn-primary">CLICK HERE</a><br>
      </div>
</body>
</html>